body {
    text-align: center;
    margin: auto;
}

#loginSection {
    width: 60%;
    margin-top: 40px;
}

#move {
    margin-top: -2%;
}

/* New CSS for the Ready button */
.btn-ready {
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 8px;
}
